name: CI
concurrency:
  group: ci-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true
on:
  workflow_dispatch:
  push:
    branches:
      - master
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout mtcn
        uses: actions/checkout@v6
        with:
          path: mtcn

      - name: Checkout meshtastic/firmware
        uses: actions/checkout@v6
        with:
          repository: meshtastic/firmware
          path: firmware
          submodules: recursive

      # 先看看到底拉了什么
      - name: List all files
        run: |
          pwd
          ls -la
          ls -la firmware
          ls -la firmware/bin

      - name: Replace variants
        run: |
          rm -rf firmware/variants
          cp -r mtcn/variants firmware/

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.11"

      - name: Install PlatformIO
        run: |
          python -m pip install -U pip
          python -m pip install -U platformio

      # 用官方真正的 CI 命令，不自己瞎写
      - name: Generate CI matrix
        run: |
          cd firmware
          python bin/generate_ci_matrix.py all
          
      - name: Build
        run: |
          cd firmware
          pio run -a
